<div class="row">
  <div class="col-md-12">
    <h2>Cadastro de Medicamentos</h2>
    <div class="box box-primary">

        <div class="row">
          <div class="espaco-form-group">
            <div class="col-md-3">

              <label>Tipo</label>
              <select id="ddlTipo" class="form-control" style="width: 100%;" tabindex="-1" aria-hidden="true">
                <option>Selecione...</option>
                <option *ngFor="let tipoMedicamento of tipoMedicamentos" value="{{tipoMedicamento.idTipoMedicamento}}">{{tipoMedicamento.nomeTipoMedicamento}}
                  </option>
              </select>

            </div>

            <div class="col-md-7">
              <label>Medicamento</label>
              <select id="ddlMedicamento" class="form-control" style="width: 100%;" tabindex="-1" aria-hidden="true">
                <option>Selecione...</option>
                <option *ngFor="let medicamento of getMedicamentosDesativados()" value="{{medicamento.id}}">{{medicamento.nomeMedicamento}}</option>
              </select>
              <input class="form-control" type="text" id="nomeMedicamento" [(ngModel)]="nomeMedicamento" placeholder="Insira o nome do medicamento a ser inserido" style="display: none">
              

            </div>
            <div class="col-md-1"> 
              <a id="btnNaoAchou"  (click)="novoItem()" >Não achou?<i  class="fas fa-plus-circle"></i> </a>
              <a id="btnVoltar" style="display: none; color: red"  (click)="voltaMedicamento()" ><br><i class="fas fa-ban">Cancelar</i></a>
            </div>

            <!-- <div class="col-md-3">
                <label for="typeahead-focus">Medicamento</label>
              <input id="typeahead-focus"
                     type="text"
                     class="form-control" 
                     [(ngModel)]="model" 
                     [ngbTypeahead]="search" 
                     (focus)="focus$.next($event.target.value)"
                     (click)="click$.next($event.target.value)"
                     #instance="ngbTypeahead" />
            </div> -->

          </div>




          <div class="col-md-3 espaco-form-group">
            <label>Via de administração</label>
            <select id="ddlViaAdministracao" class="form-control" tabindex="-1" aria-hidden="true">
              <option>Selecione...</option>
              <option *ngFor="let viaAdministracao of viasAdministracao" value="{{viaAdministracao.idViaAdministracao}}">{{viaAdministracao.descricaoViaAdministracao}}</option>
            </select>
          </div>

          <div class="col-md-3 espaco-form-group">
            <label>Unidade de medida</label>
            <select id="ddlUnidadeMedida" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
              <option>Selecione...</option>
              <option *ngFor="let unidadeMedida of unidadesMedida" value="{{unidadeMedida.idUnidadeMedida}}">{{unidadeMedida.descricaoUnidadeMedida}}</option>

            </select>
          </div>

          <div class="col-md-2 espaco-form-group">
            <label>Estoque crítico</label>
            <input id="numberQtde" type="number" class="form-control" placeholder="Quantidade" [value]="quantidade">
          </div>


          <div class="espaco-form-group">

            <div class="col-md-12">
              <label>Observação</label>
              <textarea [(ngModel)]="observacao" id="txtObservacao" class="form-control textarea" rows="3" placeholder="Digite...">{{observacao}}</textarea>
            </div>
          </div>

          <div class="col-md-12 espaco-form-group">
            <div class="box-footer">
              <a id="btnEntradaEstoque"><button class="btn btn-success pull-right" type="submit" (click)="openModal(templateMedicamento)">Ativar
                  Medicamento</button></a>

             
            </div>
          </div>


        </div>
      
        
    </div>
  </div>
</div>

<ng-template #templateMedicamento>

  <div class="modal-header">

    <h4 class="modal-title">Confirmação </h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">×</span>
    </button>


  </div>
  <div class="modal-body">
    <h3 style="text-align: center">Deseja avançar para entrada em estoque? </h3>
    <p style="text-align: center">(O medicamento será ativado no sistema independente da decisão)</p>

  </div>
  <div class="modal-footer">
    <button id="fechaModalVencimento" class="btn btn-default pull-left" (click)="cadastrarMedicamento()">Não</button>
    <a id="btnConfirmar" class="btn btn-primary" [routerLink]="'../entrada-estoque'">Sim</a>
  </div>

</ng-template>