

<div class="jumbotron">
    
  
    <h1 class="display-4" style="text-align: center">Bem vindo!</h1>
  
    <p class="lead" style="text-align: center">Sistema de Gestão de Farmácia e Pacientes do Grupo Espírita Fraternidade</p>
    <p style="text-align: center"> Hoje é dia {{jstoday}}.</p>
    <img src="./assets/img/logo_gef_3.png" alt="image" style="width: 438px; height: 416px;  display: block; margin-left: auto; margin-right: auto;">
    <hr class="my-4">
    
    <h4>Avisos: <button class="btn btn-primary" (click)="criarNotificacoes()">Ver avisos</button></h4>
    <h5>{{mensagemVencimento}}</h5>
    <h5>{{mensagemEstoqueCritico}}</h5>
    
    
  </div>