<div class="row">
  <div class="col-md-12">
    <h2>Baixa de Estoque</h2>
    <div class="box box-primary">

      <div class="row">
        <div class="espaco-form-group">

          <div class="col-md-4">
              <label class="">Un. de Medida</label>
              <input [(ngModel)]="textoUnidadeMedida" class="form-control" type="text" disabled >
          </div>

          <div class="col-md-8">
            <label>Medicamento</label>
              <textarea 
              id="textAreaMedicamento"
              (blur)="setaUnidadeMedida(); carregaEstoque()"
              placeholder="Digite @ para pesquisar..."
              class="form-control"
              rows="1"
              [(ngModel)]="formControlValue"
              mwlTextInputAutocomplete
              [findChoices]="findChoicesIn(nomesMedicamento)"
              [getChoiceLabel]="getChoiceLabel">
            </textarea>
         
            

          </div>
          <button type="button" id="disparador" hidden (click)="openModal(templateMessage)"></button>
          

        </div>
        <div class="espaco-form-group">
          
         

        </div>
       
         
      </div>

    </div>



    <div class="box espaco-form-group">
      <div class="row">


        <div class="col-md-12 col-sm-12 col-lg-12">
          <table id="table_estoque" class="table table-bordered dataTable" role="grid">
            <thead>
              <tr role="row">
                <th>*</th>
                <th>Quantidade</th>
                
                <th>Data de Vencimento</th>
                <th>Procedência</th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd" *ngFor="let item of itensEstoque; let i = index " >
                <td><input type="checkbox" id="chkMedicamento" (click)="incluiItemBaixa(i)" > </td>
                <td class="sorting_1">{{item.quantidadeEstoque}}</td>
                
                <td>{{item.vencimentoFormatado}}</td>
                <td>{{item.procedencia}}</td>
              </tr>
              
              
            </tbody>

                
          </table>
        </div>

        <div class="col-md-12">
          <label class="">Quantidade a retirar</label>
          <input [(ngModel)]="quantidadeRetirar" class="form-control" type="number" enabled="false">
        </div>

        <div class="box-footer espaco-form-group col-md-12">
          <button type="submit" class="btn btn-primary pull-right" (click)="efetuaBaixaEstoque()">Finalizar</button>
          <button class="btn btn-red pull-left" [routerLink]="'../inicio'" >Voltar</button>
        </div>

      </div>

     

      



    </div>

    
    <button type="button" id="modalSucesso" hidden (click)="openModal(templateItemEstoque)"></button>
    <button type="button" id="modalErro" hidden (click)="openModal(templateMessage)"></button>
    <ng-template #templateItemEstoque>

      <div class="modal-header">

        <h4 class="modal-title">Item(s) Cadastrado(s) </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">×</span>
        </button>


      </div>
      <div class="modal-body">
        <p>Operação bem sucedida! </p>
      </div>
      <div class="modal-footer">
        <button id="btnConfirmar" class="btn btn-primary" (click)="redirecionaInicio()" >Ok</button>
      </div>

    </ng-template> 
    <ng-template #templateMessage>

      <div class="modal-header">

        <h4 class="modal-title">Atenção:</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">×</span>
        </button>


      </div>
      <div class="modal-body">
        <p id="paragrafoMensagem"> </p>
      </div>
      <div class="modal-footer">
        <button id="btnConfirmar" class="btn btn-primary" (click)="closeModal()">Ok</button>
      </div>

    </ng-template> 


  </div>