<!-- Topo -->
<nav class="navbar navbar-dark sticky-top bg-green flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="color: #f5f5f5;" > Grupo Espírita Fraterniadade</a>

</nav>
<!-- Fim topo -->

<!-- Container Principal -->

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

        <h6 class="sidebar-heading d-flex text-muted">
            <i class="far fa-plus-square space"></i>  Farmácia
        </h6>
        <ul class="nav flex-column">
          
          <li class="nav-item">
             <a class="nav-link item-menu" href="#"> <i  class="fas fa-pills space"></i> Novo medicamento</a>
            
          </li>
          <li class="nav-item">
              <a class="nav-link item-menu" href="#"><i class="fas fa-archive space"></i>Estoque</a>
          </li>

        </ul>
      </div>
    </nav> 
    <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 ">
      <!-- <router-outlet></router-outlet> -->
    </main>

  </div>
</div>

<!-- Fim Container Principal -->

