<!-- Topo -->
<nav class="navbar sticky-top bg-green">
  <a class="navbar-brand col-sm-3 col-md-3" [routerLink]="'inicio'"  style="color: #f5f5f5;" >Grupo Espírita Fraternidade</a>

</nav>
<!-- Fim topo -->

<!-- Container Principal -->

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 bg-light sidebar">
      <div class="sidebar-sticky">

        <h6 class="sidebar-heading text-muted">
            <i class="far fa-plus-square space"></i>  Farmácia
        </h6>
        <ul class="nav">
          
        
          <li class="nav-item">
              <a class="nav-link item-menu" [routerLink]="'entrada-estoque'"><i class="fas fa-archive space"></i> Novo item do Estoque</a>
          </li>
          <li class="nav-item">
            <a class="nav-link item-menu" [routerLink]="'baixa-estoque'"><i class="far fa-minus-square"></i> Dar baixa no Estoque</a>
          </li>
          <li class="nav-item">
            <a class="nav-link item-menu" [routerLink]="'novo-medicamento'"> <i  class="fas fa-pills space"></i> Novo medicamento</a>
           
         </li>
          
         <li class="nav-item">
            <a class="nav-link item-menu" [routerLink]="'estoque-geral'"><i class="fas fa-chart-line"></i> Estoque Geral </a>
          </li>

          <h6 class="sidebar-heading text-muted">
              <i class="fas fa-wrench space"></i> Configurações
          </h6>

          <li class="nav-item">
              <a class="nav-link item-menu" [routerLink]="'configuracao-aviso'"><i class="far fa-bell"></i> Configuração de Avisos</a>
              <a class="nav-link item-menu" [routerLink]="'alteracao-medicamento'"><i class="fas fa-plus-circle"></i> Manutenção de Medicamentos</a>
          </li>
          
        </ul>
        
      </div>
    </nav> 
    <main class="col-md-9 col-lg-10 pt-3 px-4 ">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>

<!-- Fim Container Principal -->

