

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.bg-green {
    background-color: #38864a;
}


/* MENU LATERAL */

.bg-light {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(241, 253, 242));
}

.sidebar {
        
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-heading {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.text-muted {
    color: #afb3b6!important;
}


.item-menu{
    color: #213a27;
}

a:hover{
    color: #38864a;
}


/* Dashboard */

.box.box-primary {
    border-top-color: #3c8dbc;
    
}
.box {
    margin-top: 20px;
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 70%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.espaco-form-group{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

