.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}


.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.dataTables_filter{
    text-align: right;
}

.odd{

background-color: #f9f9f9;
}