
<div class="row">
  <div class="col-md-12">
    <h2>Entrada de Estoque</h2>
    <div class="box box-primary">

      <div class="row">
        <div class="espaco-form-group">

          <div class="col-md-4">
            <label class="">Código Interno</label>
            <input class="form-control" type="text" disabled value="{{idRecebido}}">
          </div>

        

          <div class="col-md-7">
            <label>Medicamento</label>
            <select [(ngModel)]="textoPadrao" id="ddlMedicamento" (change)="selectOption($event.target.value)" class="form-control " style="width: 100%;" tabindex="-1" aria-hidden="true">
              <option  >Selecione...</option>
              <option *ngFor="let medicamento of getMedicamentos()"  value="{{medicamento.guid}}" [selected]="idRecebido == medicamento.guid">{{medicamento.nomeMedicamento}}</option>
              
              
            </select>

          </div>

        </div>
        <div class="espaco-form-group">
          
          <div class="col-md-3 espaco-form-group">
            <label>Vencimento</label>
            <input [(ngModel)]="itemEstoque.vencimento" type="date" id="dtMedicamento" class="form-control">
          </div>

          <div class="col-md-3 espaco-form-group">
            <label class="">Quantidade a dar entrada</label>
            <input [(ngModel)]="itemEstoque.quantidadeEstoque" class="form-control" type="number" enabled="false">
          </div>

        </div>
        
          <div class="col-md-12">
            <label>Procedência</label>
            <textarea [(ngModel)]="itemEstoque.procedencia" rows="3" class="form-control" id="txtProcedencia" placeholder="Digite..."></textarea>
          </div>
          
          <div class="col-md-11"></div>
          <div class="col-md-1"> <a  (click)="addItem()" ><h2><i  class="fas fa-plus-circle"></i></h2> </a></div>

      </div>

    </div>



    <div class="box">
      <div class="row">

        <div class="col-md-12 col-sm-12 col-lg-12">
          <table id="table_estoque" class="table table-bordered dataTable" role="grid">
            <thead>
              <tr role="row">
                <th>Quantidade</th>
                
                <th>Data de Vencimento</th>
                <th>Procedência</th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd" *ngFor="let item of itensEstoque" >
                <td class="sorting_1">{{item.quantidadeEstoque}}</td>
                
                <td>{{item.vencimento}}</td>
                <td>{{item.procedencia}}</td>
              </tr>
              
              
            </tbody>

                
          </table>
        </div>
      </div>

      <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right" (click)="addMedicamento()">Finalizar</button>
        <button class="btn btn-red pull-left" [routerLink]="'../inicio'" >Voltar</button>
      </div>



    </div>

    
    <button type="button" id="modalSucesso" hidden (click)="openModal(templateItemEstoque)"></button>
    <button type="button" id="modalSucesso" hidden (click)="openModal(templateMessage)"></button>
    <ng-template #templateItemEstoque>

      <div class="modal-header">

        <h4 class="modal-title">Item(s) Cadastrado(s) </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">×</span>
        </button>


      </div>
      <div class="modal-body">
        <p>Operação bem sucedida! </p>
      </div>
      <div class="modal-footer">
        <button id="btnConfirmar" class="btn btn-primary" (click)="redirecionaInicio()" >Ok</button>
      </div>

    </ng-template> 
    <ng-template #templateMessage>

      <div class="modal-header">

        <h4 class="modal-title">Atenção:</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">×</span>
        </button>


      </div>
      <div class="modal-body">
        <p id="paragrafoMensagem"> </p>
      </div>
      <div class="modal-footer">
        <button id="btnConfirmar" class="btn btn-primary">Ok</button>
      </div>

    </ng-template> 


  </div>